<a href="https://colab.research.google.com/github/AlvaroMAlves/testrepo/blob/main/Previs%C3%A3o_de_Pre%C3%A7os_de_Revenda_de_Carros.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nova seção

# Previsão de Preços de Revenda de Carros

In [114]:
import pandas as pd

# URL do arquivo CSV no GitHub
url = 'https://raw.githubusercontent.com/AlvaroMAlves/testrepo/main/cars_train.csv'

# Carrega o arquivo CSV em um DataFrame
df = pd.read_csv(url, sep='\t',  encoding='utf-16')

# Exibe as primeiras linhas do DataFrame
print(df.head())

                                        id  num_fotos       marca   modelo  \
0  300716223898539419613863097469899222392        8.0      NISSAN    KICKS
1  279639842134129588306469566150288644214        8.0        JEEP  COMPASS
2   56414460810621048900295678236538171981       16.0         KIA  SORENTO
3   56862509826849933428086372390159405545       14.0  VOLKSWAGEN   AMAROK
4  338980975753200343894519909855598027197        8.0   SSANGYONG  KORANDO

                                              versao  ano_de_fabricacao  \
0                    1.6 16V FLEXSTART SL 4P XTRONIC               2017
1                    2.0 16V FLEX LIMITED AUTOMÁTICO               2017
2              2.4 16V GASOLINA EX 7L AWD AUTOMÁTICO               2018
3  2.0 HIGHLINE 4X4 CD 16V TURBO INTERCOOLER DIES...               2013
4         2.0 GLS 4X4 16V TURBO DIESEL 4P AUTOMÁTICO               2013

   ano_modelo  hodometro      cambio  num_portas  ... elegivel_revisao  \
0      2017.0    67772.0         CVT           4  ...            False
1      2017.0    62979.0  Automática           4  ...            False
2      2019.0    44070.0  Automática           4  ...            False
3      2015.0    85357.0  Automática           4  ...            False
4      2015.0    71491.0  Automática           4  ...            False

  dono_aceita_troca veiculo_único_dono  \
0               NaN                NaN
1      Aceita troca                NaN
2      Aceita troca                NaN
3      Aceita troca                NaN
4               NaN                NaN

                        revisoes_concessionaria  ipva_pago veiculo_licenciado  \
0  Todas as revisões feitas pela concessionária  IPVA pago         Licenciado
1                                           NaN  IPVA pago                NaN
2                                           NaN        NaN                NaN
3                                           NaN  IPVA pago         Licenciado
4  Todas as revisões feitas pela concessionária        NaN                NaN

   garantia_de_fábrica                         revisoes_dentro_agenda  \
0                  NaN                                            NaN
1                  NaN                                            NaN
2                  NaN                                            NaN
3                  NaN                                            NaN
4  Garantia de fábrica  Todas as revisões feitas pela agenda do carro

   veiculo_alienado          preco
0               NaN   74732.590084
1               NaN   81965.332634
2               NaN  162824.814472
3               NaN  123681.358857
4               NaN   82419.763891

[5 rows x 29 columns]

In [115]:
valores_diferentes_por_coluna = df.nunique()
print(valores_diferentes_por_coluna)

id                         29584
num_fotos                     14
marca                         40
modelo                       457
versao                      1916
ano_de_fabricacao             35
ano_modelo                    17
hodometro                  26004
cambio                         7
num_portas                     3
tipo                           7
blindado                       2
cor                            7
tipo_vendedor                  2
cidade_vendedor              575
estado_vendedor               25
anunciante                     4
entrega_delivery               2
troca                          2
elegivel_revisao               1
dono_aceita_troca              1
veiculo_único_dono             1
revisoes_concessionaria        1
ipva_pago                      1
veiculo_licenciado             1
garantia_de_fábrica            1
revisoes_dentro_agenda         1
veiculo_alienado               0
preco                      29584
dtype: int64

Vamos verificar quais são os valores das colunas **blindado**, **tipo_vendedor** e de **entrega_delivery** até **veiculo_alienado**, para conhecê-las melhor:

In [116]:
colunas = ["blindado","tipo_vendedor","entrega_delivery","troca","elegivel_revisao", "dono_aceita_troca", "veiculo_único_dono", "revisoes_concessionaria", "ipva_pago", "veiculo_licenciado", "garantia_de_fábrica", "revisoes_dentro_agenda", "veiculo_alienado"]

for coluna in colunas:
    valores_unicos = df[coluna].unique()
    print(f"Valores únicos em {coluna}: {valores_unicos}")

Valores únicos em blindado: ['N' 'S']
Valores únicos em tipo_vendedor: ['PF' 'PJ']
Valores únicos em entrega_delivery: [False  True]
Valores únicos em troca: [False  True]
Valores únicos em elegivel_revisao: [False]
Valores únicos em dono_aceita_troca: [nan 'Aceita troca']
Valores únicos em veiculo_único_dono: [nan 'Único dono']
Valores únicos em revisoes_concessionaria: ['Todas as revisões feitas pela concessionária' nan]
Valores únicos em ipva_pago: ['IPVA pago' nan]
Valores únicos em veiculo_licenciado: ['Licenciado' nan]
Valores únicos em garantia_de_fábrica: [nan 'Garantia de fábrica']
Valores únicos em revisoes_dentro_agenda: [nan 'Todas as revisões feitas pela agenda do carro']
Valores únicos em veiculo_alienado: [nan]

A partir daqui, vou começar excluindo a coluna **elegivel_revisao** e **veiculo_alienado**.

Após isso, trocarei *False* e *True* por 0 e 1 nas colunas **entrega_delivery** e **troca**, e *N* e *S* por 0 e 1, na coluna **blindado**.

Nas colunas que possuem apenas um valor (como **dono_aceita_troca**), vamos trocas nulo por 0 e o valor 'Aceita troca' por 1, por exemplo.

In [117]:
colunas_para_remover = ["veiculo_alienado", "elegivel_revisao"]
df = df.drop(colunas_para_remover, axis=1)

In [118]:
colunas_para_substituir = ["entrega_delivery", "troca"]
df[colunas_para_substituir] = df[colunas_para_substituir].replace({False: 0, True: 1})

In [119]:
df["blindado"] = df["blindado"].replace({'N': 0, 'S': 1})

In [120]:
colunas_substituir_nulo = ['dono_aceita_troca', 'veiculo_único_dono', 'revisoes_concessionaria', 'ipva_pago', 'veiculo_licenciado', 'garantia_de_fábrica', 'revisoes_dentro_agenda']
df[colunas_substituir_nulo] = df[colunas_substituir_nulo].notnull().astype(int)

In [122]:
df[colunas_substituir_nulo]

,dono_aceita_troca,veiculo_único_dono,revisoes_concessionaria,ipva_pago,veiculo_licenciado,garantia_de_fábrica,revisoes_dentro_agenda
0,0,0,1,1,1,0,0
1,1,0,0,1,0,0,0
2,1,0,0,0,0,0,0
3,1,0,0,1,1,0,0
4,0,0,1,0,0,1,1
...,...,...,...,...,...,...,...
29579,1,1,0,1,1,1,0
29580,0,1,1,1,1,1,0
29581,1,0,0,0,0,0,0
29582,1,1,0,1,1,0,0
29583,1,0,0,0,0,0,0

PAREI AQUI, AGORA PRECISO VERIFICAR SE TEM MAIS ALGO PARA LIMPAR

0        0
1        0
2        0
3        0
4        0
        ..
29579    0
29580    0
29581    0
29582    0
29583    0
Name: blindado, Length: 29584, dtype: int64

In [47]:
correlation_with_target = df.corr(numeric_only=True)['preco'].drop('preco')
print(correlation_with_target)

num_fotos           -0.032331
ano_de_fabricacao    0.239172
ano_modelo           0.214854
hodometro           -0.359218
num_portas          -0.075265
entrega_delivery    -0.067427
troca               -0.053444
elegivel_revisao          NaN
veiculo_alienado          NaN
Name: preco, dtype: float64

In [75]:
num_valores_unicos = df['veiculo_único_dono'].nunique()
print(num_valores_unicos)

1

In [76]:

valores_unicos = df['veiculo_único_dono'].unique()

print(valores_unicos)

[nan 'Único dono']

In [67]:
cor_stats = df.groupby('cor')['preco'].describe()
print(cor_stats)

            count           mean            std           min            25%  \
cor
Branco    20949.0  130159.661644   74792.760812  14011.654277   77881.459136
Cinza      1634.0  197087.176386   82219.851705  63561.514730  130759.468630
Dourado       2.0   88728.360369    4329.449054  85666.977584   87197.668976
Prata      1741.0   95666.495127   43005.521126   9869.950645   57096.458102
Preto      5256.0  136943.250396  103635.885327  11606.398045   67770.755636
Verde         1.0   60668.799676            NaN  60668.799676   60668.799676
Vermelho      1.0   56046.777585            NaN  56046.777585   56046.777585

                    50%            75%           max
cor
Branco    113438.004290  160571.619821  1.359813e+06
Cinza     178628.180346  247674.587842  4.868696e+05
Dourado    88728.360369   90259.051761  9.178974e+04
Prata      98200.292007  130293.289674  2.037864e+05
Preto     103603.671690  167380.879926  1.154360e+06
Verde      60668.799676   60668.799676  6.066880e+04
Vermelho   56046.777585   56046.777585  5.604678e+04

In [ ]:
marca_stats = df.groupby('marca')['preco'].describe()
print(marca_stats)

In [61]:

mapeamento = {'N': 0, 'S': 1}

df['blindado'] = df['blindado'].map(mapeamento)

[0 1]